.section__container{
    display: flex;
    flex-direction: column;
    gap: 2.3125rem;
}

.div__user{
    display: flex;
    justify-content: space-between;
    padding: 2.8125rem 22%;
    border-bottom: 0.0625rem solid var(--grey-3);

    & > h1{
        color: var(--grey-0);
    }
    & > p{
        color: var(--grey-1);
    }
}

.div__content{
    display: flex;
    flex-direction: column;
    gap: 1.4375rem;
    padding: 0 22%;

    & > h2, & > p{
        color: var(--grey-0);
    }
}

@media(max-width: 46.875rem){
    .div__user{
        flex-direction: column;
        padding: 2.125rem 0.75rem;
        gap: 0.625rem;
    }

    .div__content{
        padding: 1.5rem 0.75rem;
    }
}