.section{
    background-color: var(--grey-4);
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-bottom: 4.8125rem;
}
.form{
    display: flex;
    flex-direction: column;
    background-color: var(--grey-3);
    padding: 2.625rem 1.375rem;
    gap: 1.375rem;
    border-radius: 0.2rem;

    & > h1{
        text-align: center;
        color: var(--grey-0);
    }
}

.div__input{
    display: flex;
    flex-direction: column;
    gap: 0.9375rem;

    & > label{
        color: var(--grey-0);
    }

    & > p{
        color: var(--grey-1);
    }
}

.div__register{
    padding-top: 0.75rem;
    text-align: center;
    display: flex;
    flex-direction: column;
    gap: 1.375rem;

    &>p{
        color: var(--grey-1);
    }
}

.div__inputPassword{
    display: flex;
    flex-direction: column;
    gap: 0.9375rem;
    color: var(--grey-0);

    & > p{
        color: var(--grey-1);
    }

    & > div{
        position: relative;

        & > input{
            width: 90%;
        }

        & > button{
            position: absolute;
            top: 2.5rem;
            right: 1.375rem;
            background-color: transparent;
            border: none;
            color: var(--grey-1);
        }
    }
}

@media(max-width: 24.375rem){
    .form{
        padding: 2.0625rem 1.0625rem;
        gap: 0.625rem;
        width: 85%;

        & > button{
            width: 100%;
        }
    }

    .div__register{
        button{
            width: 100%;
        }
    }
}