.input{
    height: 3rem;
    padding: 0 16px;
    background-color: var(--grey-2);
    border-radius: 4px;
    border: 1.22px solid var(--grey-2);
    color: var(--grey-1);
    outline: 0;
    &:focus{
        border-color: var(--grey-0);
    }
}