.section__container{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-bottom: 6rem;
}

.div__header{
    background-color: var(--grey-3);
    width: 28%;
    min-width: 21.25rem;
    align-items: center;
    display: flex;
    flex-direction: column;
    padding: 2.625rem 0 1.375rem 0;
    gap: 1.375rem;
    & > h1, & > p{
        text-align: center;
    }
    &>h1{
        color: var(--grey-0);
    }
    & > p{
        color: var(--grey-1);
    }
}
.form__container{
    background-color: var(--grey-3);
    display: flex;
    flex-direction: column;
    gap: 1.375rem;
    width: 28%;
    min-width: 21.25rem;
    padding-bottom: 2.625rem;
    & > button{
        color: var(--grey-0);
        background-color: var(--color-primary-negative);
    }
}

.input__container{
    display: flex;
    flex-direction: column;
    gap: 0.9375rem;
    padding: 0 1.375rem 0 1.375rem;
    & > label{
        color: var(--grey-0);
    }
    &> p{
        color: var(--grey-1);
    }
}
.div__button{
    text-align: center;
    &> button{
        width: 90%;
    }
}